@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

body {
  font-family: 'Shantell Sans', cursive;
  flex-wrap: wrap;
  background-image: url(./assets/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
  color: white;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-de-mokepon {
    width: 200px;
    height: 100px;
    background-color:  rgba(120, 120, 0, 0.399);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tarjeta-P:hover {
    cursor: pointer;
}
.tarjeta-de-mokepon img {
  width: 80px;
}

#boton-mascota {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color:  rgba(120, 120, 0, 0.399);
    border: 2px solid orange;
    color: white;
    font-family: 'Shantell Sans', cursive;
    margin-top: 20px ;
    justify-content: center;
    align-items: center;
}

#boton-mascota:hover {
    cursor: pointer;
}    

input {
  display: none;
}

input:checked + label {
    background-color:rgb(77, 50, 0)
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
    width: 90px;
    height: 50px;
    border-radius: 20px;
    background-color:  rgba(120, 120, 0, 0.399);
    border: 2px solid orange;
    color: white;
    font-family: 'Shantell Sans', cursive;
    margin-top: 20px ;
}

.boton-de-ataque :hover {
    cursor: pointer;
    background-color:rgb(77, 50, 0)
}

#mensajes {
    width: 280px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}
 

#boton-reiniciar {
    background-color:  rgba(120, 120, 0, 0.399);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Shantell Sans', cursive;
    color: white;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#ver-mapa button{
  width: 80px;
  height: 25px;
  border-radius: 20px;
  background-color: rgba(120, 120, 0, 0.399);
  border: 2px solid orange;
  color: white;
  font-family: 'Shantell Sans', cursive;
  margin: 10px;
}

@media (max-width: 360px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  #ver-mapa div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}